
.sign{
    width: 60%;
    height: 460px;
    justify-content: center;
    margin-left: 20%;
    margin-top: 2%;
    background-color: rgb(192, 218, 218);
    text-align: center;
}
.flx{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.form{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   justify-content: space-around;
}
.flx label{
    text-align: left;
    font-weight: 550;
    padding: 5px;
}
.flx input{
   width: 350px;
  height: 30px;
    padding: 0% 15% 2% 0%
   
}
.sign button{
   margin-top: 3%;
   background-color: black;
   color: white;
   font-weight: 400;
   width: 7%;
   height: 30px;
   border-style: none;
   border-radius: 3px;
}
.sign .h1{
    padding-top: 5px;
}